@import 'include-media/dist/_include-media.scss';
$pageContentWidth: 1360px;
$pageContentXPadding: 24px;

$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
);

@mixin pageContentSize {
  max-width: $pageContentWidth;
  margin: 0 auto;
  padding-right: $pageContentXPadding;
  padding-left: $pageContentXPadding;
}

@mixin pageContent {
  @include pageContentSize;
  padding: 0 $pageContentXPadding;

  @include media('>=desktop') {
    padding: 0 24px;
  }
}

  // ---- Colors ----
  $white: #FFFFFF;

  $gray-4: #F7F9FC;
  $gray-8: #F5F5F8;
  $gray-16: #DCDCDC;
  $gray-60: #A4A4A5;
  $gray-70: #3A4056;

  $black-100: #08080C;
  $violet-100: #6E62E5;
  $green-100: #3EB759;

  $jcc: #8FBF56;
  $bpc: #561E59;



